@font-face {
  font-family: "barlow";
  src: url("fonts/Barlow-black.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eff6ff;
  font-family: "Barlow", sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 0px;
}

.rectangle {
  width: 580px;
  height: 720px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-left: 0px;
}

img {
  margin-top: 100px;
  margin-left: 320px;
}

.text {
  color: #2a4a5c;
  font-size: 25px;
  margin-left: 80px;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 80px;
}

.second-text {
  color: #2a4a5c;
  font-size: 15px;
  margin-left: 80px;
}

.container-2 {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-left: 80px;
}

.image1 {
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 10px;
}

.image2 {
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 10px;
}

.facebook {
  background-color: #255a9b;
  text-align: center;
  color: white;
  font-size: 11px;
  width: 190px;
  height: 30px;
  border: none;
  align-items: center;
  display: flex;
  gap: 10px;
}

.linkedin {
  background-color: #0076b6;
  text-align: center;
  color: white;
  font-size: 11px;
  width: 190px;
  height: 30px;
  border: none;
  align-items: center;
  display: flex;
  gap: 10px;
}

.line-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: #2a4a5c;
  font-size: 10px;
  margin-left: 192px;
}

.line-text::before,
.line-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #a0acb4;
  max-width: 80px;
  margin: 0 8px;

}


input {
  width: 200px;
  height: 35px;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-left: 8px;
  text-align: left;
  font-size: 11px;
  margin-left: 52px;
}

input::-webkit-input-placeholder {
color: #a9b6c8;
font-weight: bold;
text-align: left;
font-size: 11px;

}

.text2 {
  color: #2a4a5c;
  font-size: 20px;
  margin-left: 80px;
}

.text3 {
  color: #2a4a5c;
  font-size: 13px;
  margin-left: 80px;
}