@font-face {
  font-family: "barlow";
  src: url("fonts/Barlow-black.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eff6ff;
  font-family: "Barlow", sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 0px;
}

.rectangle {
  width: 580px;
  height: 720px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-left: 0px;
}

img {
  margin-top: 100px;
  margin-left: 320px;
}

.text {
  color: #2a4a5c;
  font-size: 25px;
  margin-left: 80px;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 80px;
}

.second-text {
  color: #2a4a5c;
  font-size: 15px;
  margin-left: 80px;
}

.container-2 {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-left: 80px;
}

.image1 {
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 10px;
}

.image2 {
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 10px;
}

.facebook {
  background-color: #255a9b;
  text-align: center;
  color: white;
  font-size: 11px;
  width: 190px;
  height: 30px;
  border: none;
  align-items: center;
  display: flex;
  gap: 10px;
}

.linkedin {
  background-color: #0076b6;
  text-align: center;
  color: white;
  font-size: 11px;
  width: 190px;
  height: 30px;
  border: none;
  align-items: center;
  display: flex;
  gap: 10px;
}

.line-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: #2a4a5c;
  font-size: 10px;
  margin-left: 192px;
}

.line-text::before,
.line-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #a0acb4;
  max-width: 80px;
  margin: 0 8px;

}


input {
  width: 170px;
  height: 33px;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-left: 8px;
  text-align: left;
  font-size: 11px;
  margin-left: 73px;
}

input::-webkit-input-placeholder {
color: #a9b6c8;
font-weight: bold;
text-align: left;
font-size: 11px;

}

.text2 {
  color: #2a4a5c;
  font-size: 20px;
  margin-left: 80px;
}

.text3 {
  color: #2a4a5c;
  font-size: 13px;
  margin-left: 80px;
}

.input-group {
  font-size: 11px;
  text-align: start;
  margin-left: 8px;
}

.radio__input {
  width: 10px;
  height: 12px;
}

i {
  width: 10px;
  height: 10px;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  border-color: #a0acb4;
}

.icon-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.container-3 {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 12px;
user-select: none;
margin-left: 50px;
}

.container-3 input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
color: #2A4A5C
}

.checkmark {
position: absolute;
top: 0;
left: 0;
height: 11px;
width: 11px;
background-color:#a0acb4;
margin-left: 20px;
border-color:#2a4a5c;
}

.container-3 input:checked ~ .checkmark {
background-color: #2196F3;
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}

.login-btn {
background-color: rgba(0, 106, 255, 0.852); 
color: white; 
padding: 12px 20px; 
border: none; 
border-radius: 5px; 
cursor: pointer; 
font-size: 14px; 
transition: background-color 0.3s ease; 
margin-left: 72px;
width: 200px;
