@font-face {
  font-family: "barlow";
  src: url("fonts/Barlow-black.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eff6ff;
  font-family: "Barlow", sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 0px;
}

.rectangle {
  width: 580px;
  height: 720px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-left: 0px;
}

img {
  margin-top: 100px;
  margin-left: 320px;
}

.text {
  color: #2a4a5c;
  font-size: 25px;
  margin-left: 80px;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 80px;
}

.second-text {
  color: #2a4a5c;
  font-size: 15px;
  margin-left: 80px;
}

.rectangle-2 {
  width: 190px;
  height: 30px;
  background-color: #255a9b;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.rectangle-3 {
  width: 190px;
  height: 30px;
  background-color: #0076b6;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.container-2 {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-left: 80px;
}

.image1 {
  margin-top: 3px;
  margin-left: 12px;
}

.image2 {
  margin-top: 3px;
  margin-left: 13px;
}

.facebook-text {
  font-size: 12px;
  margin-left: 43px;
  margin-top: 5px;
  color: white;
}

.custom-line {
  border: none; /* Remove default border */
  height: 4px; /* Thickness of the line */
  background-color: #007bff; /* Line color */
  width: 6; /* Line width */
  margin: 40px auto; /* Center the line */
  border-radius: 2px; /* Rounded edges */
}
