@font-face {
  font-family: "barlow";
  src: url("fonts/Barlow.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eff6ff;
  font-family: "Barlow", sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 0px;
}

.rectangle {
  width: 580px;
  height: 720px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-left: 0px;
  padding-left: 80px;
}

img {
  margin-top: 100px;
  margin-left: 320px;
}

h2 {
  color: #2a4a5c;
  font-size: 25px;
  margin-left: 0px;
  font-weight: 400;
  padding-top: 50px;
  margin-bottom: 0px;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 80px;
}

h5 {
  color: #2a4a5c;
  font-size: 15px;
  margin-left: 0px;
  font-weight: 400;
  margin-top: 11px;
  margin-left: 0px;
}

.container-2 {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-top: 40px;
}

.image1 {
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 10px;
}

.image2 {
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 10px;
}

.facebook {
  background-color: #255a9b;
  text-align: center;
  color: white;
  font-size: 11px;
  width: 190px;
  height: 30px;
  border: none;
  align-items: center;
  display: flex;
  gap: 10px;
}

.linkedin {
  background-color: #0076b6;
  text-align: center;
  color: white;
  font-size: 11px;
  width: 190px;
  height: 30px;
  border: none;
  align-items: center;
  display: flex;
  gap: 10px;
}

.line-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  font-size: 9px;
  margin-left: 112px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 300;
}

.line-text::before,
.line-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #bcccd6;
  max-width: 80px;
  margin: 0 8px;
}

.mailandphone {
  display: flex;
  gap: 60px;
}

.mail {
  position: relative;
  width: 180px;
}

.mail input {
  width: 170px;
  padding: 18px 10px 6px;
  font-size: 13px;
  border: 1px solid #aaa;
  outline: none;
  background-color: white;
}

.mail label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color:#a9b6c8;
  font-size: 16px;
  pointer-events: none;
  transition: 0.25s ease;
}

.mail input:focus + label,
.mail input:valid + label {
  top: 6px;
  font-size: 12px;
  color: #a9b6c8;
}

.number {
  position: relative;
  width: 180px;
}

.number input {
  width: 170px;
  padding: 18px 10px 6px;
  font-size: 13px;
  border: 1px solid #aaa;
  outline: none;
  background-color: white;
}

.number label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color:#a9b6c8;
  font-size: 16px;
  pointer-events: none;
  transition: 0.25s ease;
}

.number input:focus + label,
.number input:valid + label {
  top: 6px;
  font-size: 12px;
  color: #a9b6c8;
}

.mail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #007bff;
  opacity: 0;
}

.mail:focus-within::before {
  animation: blink 3s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.number::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #007bff;
  opacity: 0;
}

.number:focus-within::before {
  animation: blink 3s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

h3 {
  color: #2a4a5c;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 0px;
}

p {
  color: #2a4a5c;
  font-weight: 300;
  margin-top: 10px;
  font-size: 12px;
}

.input-group {
  font-size: 11px;
  text-align: start;
  margin-top: 30px;
}

.radio__input {
  width: 10px;
  height: 12px;
}

i{
  margin-right: 50px;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  background-color: white;
  color:#a9b6c8;
  padding: 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: normal;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  width: 200px;
  height: 39px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}


.icon-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.container-3 {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  margin-top: 100px;
}

.checkmark,
input {
  position:;
  display:;
  justify-content: start;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #a0acb4;
  margin-left: 0px;
  border-color: #2a4a5c;
}

.terms {
  color: #a9b6c8;
}

.container-3 input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: icon;
  position: absolute;
  display: none;
}

.login-btn {
  background-color: rgba(0, 106, 255, 0.852);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 200px;
  margin-top: 50px;
}

.link {
  color:#2196f3;
}
